.picture {
	background-image: url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALJAAAAJGM3ZmE2YTM5LTE1NGMtNDJkOS04MDdkLTA4YjlkYTczZjc4Yw.jpg");
	height: 300px;
	width: 300px;
	background-repeat: no-repeat;
;
}

.References {
	padding-bottom:50px;
	font-size: 25px;
}
.jumbotron{
	margin-top: 50px;
}
.button {
	color: white;
	background-color: green;
	width: 150px;
	height: 50px;
	box-shadow: none;
	border: none;
	margin: auto;
}

.button_hover {
	background-color: black;
	box-shadow: none;
}

body {
	margin: auto;
	width: 100%;
}